.nav {
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(139, 139, 139);
    display: flex;
    width: 100%;
}

.main-section {
    margin: 0;
    padding: 5;
}

.main-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.main-div {
    background-color:rgb(139, 139, 139) ;
    margin: 10%;
}

.nav-li {
    display: flex;   
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.comp-print {
    text-align: center;
    font-size: x-large;    
}

.main-div:hover, .comp-print:hover, .nav-li:hover {
    background-color: rgb(40, 40, 40);
    color: aliceblue;
}
