.nav {
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(139, 139, 139);
    display: flex;
    width: 100%;
    height: 35px;
}
nav a {
    height: 100%;
    width: 100%;
}

.main-section {
    margin: 0;
    padding: 5;
}

.main-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.main-div {
    background-color:rgb(139, 139, 139) ;
    margin: 10%;
}

.nav-li {
    display: flex;   
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.comp-print {
    text-align: center;
    font-size: x-large;    
}

.main-div:hover, .comp-print:hover, .nav-li:hover {
    background-color: rgb(40, 40, 40);
    color: aliceblue;
}

.footer {
    background-color: rgb(139, 139, 139);
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    display: flex;
    gap: 5%;
    height: 40px;
}
.footer-icon {
    height: 30px;
    width: auto;
}  

 .iframe {
    margin: 20px;
    display: flex;
    padding: 0 px;
    justify-content: center; 
    align-items: center; 
    height: 85vh;
    width: 50%;
 }

 .cont {
    display: flex;
    justify-content: space-between;
    margin: 0;
  
}
.table th, tr , .contacts {
    text-align: left;
    margin: 20px;
    margin-top: 0;
    padding-left: 10px;
    
}
tr, th {
    font-weight: lighter;

}

.contacts {
    padding-top: 10px;
}

iframe {
    width: 100%;
    height: 100%;
}



